* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, h1, ul, .user-num-input { text-align: center; }

.kratos {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px #888;
  margin: 50px 0 25px 0;
}

h1, li { margin-bottom: 15px; }

.animated { }
