<h1>Hi there, what is your name?</h1>

<form action="/get_name" method="post" class="get-form">
  <input type="text" name="user_name" autofocus="autofocus" placeholder="Name" required="required">
  <input type="submit" class="submit">
</form>
