<p>Hi there, what is your name?</p>

<form action="/get_name" method="post">
  <input type="text" name="user_name" autofocus="autofocus" placeholder="Name" required="required">
  <input type="submit">
</form>
