<h1>Mined Minds Random Pairing Kata</h1>
<h2>Please enter up to 20 names</h2>

<form action="get_names" method="post" class="user-name-input">
  <p><input type="text" name="user_name1" placeholder="name" autofocus="autofocus" required="required"></p>
  <p><input type="text" name="user_name2" placeholder="name" required="required"></p>
  <p><input type="text" name="user_name3" placeholder="name"></p>
  <p><input type="text" name="user_name4" placeholder="name"></p>
  <p><input type="text" name="user_name5" placeholder="name"></p>
  <p><input type="text" name="user_name6" placeholder="name"></p>
  <p><input type="text" name="user_name7" placeholder="name"></p>
  <p><input type="text" name="user_name8" placeholder="name"></p>
  <p><input type="text" name="user_name9" placeholder="name"></p>
  <p><input type="text" name="user_name10" placeholder="name"></p>
  <p><input type="text" name="user_name11" placeholder="name"></p>
  <p><input type="text" name="user_name12" placeholder="name"></p>
  <p><input type="text" name="user_name13" placeholder="name"></p>
  <p><input type="text" name="user_name14" placeholder="name"></p>
  <p><input type="text" name="user_name15" placeholder="name"></p>
  <p><input type="text" name="user_name16" placeholder="name"></p>
  <p><input type="text" name="user_name17" placeholder="name"></p>
  <p><input type="text" name="user_name18" placeholder="name"></p>
  <p><input type="text" name="user_name19" placeholder="name"></p>
  <p><input type="text" name="user_name20" placeholder="name"></p>
  <input type="submit" class="submit">
</form>
