<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css "href="/styles/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title>MM Random Pairing Kata</title>
</head>
<body>
  <header>
    <img src="/image/coder.jpg" class="coder" alt="Mined Minds Mascot Coder">
  </header>
  <%= yield %>
</body>
</html>
