<h1>Mined Minds Fizzbuzz Kata</h1>
<h2>Please enter a number</h2>
<div>
  <ul>
    <li>Mined - Numbers divisible only by 3</li>
    <li>Minds - Numbers divisible only by 5</li>
    <li>Mined Minds - Numbers divisible by 3 and 5</li>
    <li>Numbers - Numbers not divisible by 3, 5 and/or 3 and 5</li>
  </ul>
</div>

<form action="/get_number" method="post" class="user-num-input">
  <input type="text" name="user_number" autofocus="autofocus" placeholder="Enter Number" required="required">
  <input type="submit" class="submit">
</form>
