<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css "href="/styles/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title>MM Favorite Numbers Kata</title>
</head>
<body>
  <header>
    <img src="/image/kratos_flash.jpg" class="kratos-flash" alt="My Cat Kratos Flying Pie and Dog Flash Nuggets">
  </header>
  <%= yield %>
</body>
</html>
