<h1>Hello <%= user_name %> I see you're looking for an ISBN number:</h1>

<form action="/get_isbn" method="post" class="get-form">
  <input type="text" name="isbn" autofocus="autofocus" placeholder="ISBN Number" required="required">
  <input type="submit" class="submit">
</form>
