<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css "href="/styles/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>MM FizzBuzz Kata</title>
</head>
<body>
  <header>
    <img src="/image/kratos.jpg" class="kratos" alt="My Cat Kratos Flying Pie">
  </header>
  <%= yield %>
</body>
</html>
