<h1>Please enter your name:</h1>

<form action="/get_name" method="post" class="get-form" >
  <input type="text" name="user_name" placeholder="Name" autofocus="autofocus">
  <input type="submit" class="submit">
</form>
