<h1>How much change do you need <%= user_name %>?</h1>

<form action="/get_money" method="post" class="get-form">
  <input type="text" name="user_money" placeholder="Enter Amount" autofocus="autofocus">
  <input type="submit" class="submit">
</form>
