<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css "href="/styles/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title>Coin Changer Kata</title>
</head>
<body>
  <!-- <header>
    <img src="/image/coder.jpg" class="coder" alt="Mined Minds mascot Coder">
  </header> -->
  <%= yield %>
</body>
</html>
