<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css "href="/styles/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title>Coin Changer Kata</title>
</head>
<body>
  <header>
    <h1 class="money">Money</h1>
  </header>
  <%= yield %>
</body>
</html>
