<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css "href="/styles/animate.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>MM Math Operations Kata</title>
</head>
<body>
  <header>
    <img src="/images/tc.jpg" class="tc" alt="Mined Minds Mascot TC">
  </header>
  <%= yield %>
</body>
</html>
