<h1>Please enter a number</h1>

<form action="/user_input" method="post" class="user-num-input">
  <div>
    <select class="" name="math_operation">
      <option value="addition">Addition</option>
      <option value="subtraction">Subtraction</option>
      <option value="multiplication">Multiplication</option>
      <option value="division">Division</option>
    </select>
  </div>

  <div class="user_number1">
    <input type="number" name="user_number1" placeholder="Number 1">
  </div>

  <div class="user_number2">
    <input type="number" name="user_number2" placeholder="Number 2">
  </div>

  <input type="submit" class="submit">
</form>
